@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOutDown {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(30px);
    }
}


@keyframes cardFadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.hero-section .content {
    animation: fadeInUp 1s ease-out;
}

.fade-in-up {
    animation: fadeInUp 0.8s ease-out forwards;
}

.fade-out-down {
    animation: fadeOutDown 0.5s ease-in forwards;
}



.card-fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: cardFadeIn 0.6s ease-out forwards;
}
