.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 400ms ease-in-out;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}


/* Card List */


.card-fade {
    opacity: 0;
    transform: translateY(20px);
    animation: cardFadeIn 0.5s ease forwards;
}

@keyframes cardFadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/* Responsive logo image */
.responsive-logo {
    position: absolute;
    top: -20px;
    right: 0;
    width: 170px;
    height: auto;
    z-index: 1;
}

@media (max-width: 768px) {
    .responsive-logo {
        width: 100px;
        top: -20px;
        right: 10px;
    }
}


