.gallery-container {
    background: linear-gradient(180deg, #fff, #1a1a1a, #111);
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    padding: 150px;
}

@media (max-width: 576px) {
    .gallery-container {
        padding: 9px;
    }
}

.gallery-image {
    transition: transform 0.9s ease;
}

.gallery-image:hover {
    transform: scale(1.05);
    transition: transform 0.9s ease;
}